version: "3.9"

services:
  # app:
  #   container_name: my_parking_system
  #   build:
  #     context: ./
  #     dockerfile: Dockerfile
  #   restart: always
  #   ports:
  #     - "7777:7777"
  #   env_file:
  #     - ./.env
  #   depends_on:
  #     # mongo:
  #     #   condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #   networks:
  #     - my-network

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - my-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - my-network

  mongo:
    image: mongo:latest
    container_name: mongo-frc-system
    restart: always
    ports:
      - "27027:27027"
    command: ["mongod", "--port", "27027"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: pass
    volumes:
      - mongo_data:/data/db
    networks:
      - my-network
    healthcheck:
      test: ["CMD-SHELL", "pgrep mongod || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: always
    ports:
      - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: pass
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27027
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - my-network

volumes:
  redis_data:
  mongo_data:

networks:
  my-network:
    driver: bridge
